/*standardCSS för OH-gruppens glosor*/

body {
}

#navigator {
	background-color: #345672;
}

#navbar {
	background-color: #141672; /*För att skilja elementen åt*/
	margin:auto;
	width:50em;
}

#logga, #logga li {
	display:inline;
}

#OH {
	height:3em;
}

#navigationslänkar, #navigationslänkar li {
	display:inline;
}

#logga, #navigationslänkar {
	height:3em;
}