/*standardCSS för OH-gruppens glosor*/

body {
	font-family:Verdana;
	font-size:20px;
	margin:0px;
	background-color:black;
}

#helaNaven {
	background-color:grey;
}

#contentNav {
	width:40em;
	margin-right:auto;
	margin-left:auto;
	background-color:green;
}

#loggaDiv {
	background-color:red;
}

#navLänkarDiv {
	background-color:blue;
}

#loggaDiv, #navLänkarDiv {
	
	float:left;
}

#navLänkar li {
	display:inline;
}

#bild {
	height:3em;
}
